<div class="alert alert-success m-3 box-size" role="alert">
    <h4 class="alert-heading heading-text-size"> <fa-icon class="icons" [icon]="faThumbsUp"></fa-icon> Success </h4>
    <hr>
    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum perspiciatis, quisquam nam magnam ab enim aut saepe labore atque dolores tempore quo iusto, soluta vel animi distinctio rerum quasi vitae quia reiciendis. Saepe harum reprehenderit molestiae nulla nemo consectetur ad debitis libero quis? Quaerat voluptatibus repudiandae velit deleniti at nihil.</p>
  </div>
